body {
    background: url(../images/bg.jpg) center 0 repeat;
}

h1 {
    font-size: 32px;
    font-family: 'Open Sans',sans-serif;
    line-height: 30px;
    padding: 0 0 1px 0;
    font-weight: bold;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

h1:after {
    content: "";
    width: 100%;
    height: 5px;
    bottom: 6px;
    background: #ff4b49;
    position: absolute;
    margin-left: 10px;
}

h2 {
    font-size: 24px;
    font-family: 'Open Sans',sans-serif;
    line-height: 22px;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
    color: #2d2e2f;
}

.wrapper {
    background:white;
    margin:15px 0px;
    padding:15px;
}

.wrapper-top {
    margin-top:0px;
    text-align: center;
}

.wrapper-top img {
    max-width:100%;
}


.navbar {
    background: url(../images/menu_bg.jpg) center 0 repeat;
    background-color: #4f4f4f;
    padding:0px;
    min-height:62px;
}

.navbar-nav > .nav-item > a.nav-link {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    border-right:1px solid white;
    color:white;
}

.navbar-nav > .nav-item.active > a.nav-link, .navbar-nav > .nav-item > a.nav-link:hover {
    background:#e53935;
    color:white;
    padding-top: 34px;
    margin-top: -15px;
}

.navbar-toggler {
    margin-top:10px;
}

div.search {
        margin-top: 0px;
        margin-right: 10px;
        min-width: 226px;0px
}
.inputbox {
    border: none;
    padding: 4px 4px 4px 10px;
    background: #f4f4f4;
    font-size: 1em;
    color: #292b2c;
    outline:none;
    width: 170px;
}

@media (max-width: 991px)  {
    div.search {
        width:100%;
        clear: both;
        margin: 15px;
    }
    .navbar-nav > .nav-item.active > a.nav-link, .navbar-nav > .nav-item > a.nav-link:hover {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        padding-left: 1em;
        padding-right: 1em;
        margin-top:0px;
    }
}

.main-content {
    margin-top:15px;
}

.items-row {
    margin-top:35px;
}

.published {
    margin-top: -10px;
    font: 18px 'Open Sans',sans-serif;
    color: #777777;
}

.footer-copyright {
    text-align: center;
    margin: 20px 0px 0px 0px;
    padding: 16px;
    background: #e53935;
    color: white;
}

.custom-welcome-banner h1 {
    color: white;
}

.custom-welcome-banner {
    background: #e53935;
    padding: 20px;
    overflow: visible;
    position: relative;
}

.custom-welcome-banner img {
    float: right;
    margin-top: -45px;
    margin-left: 30px;
    z-index: 10000;
    position: relative;
    margin-bottom: -23px;
}

.custom-welcome-banner p {
    color: white;
}