body {
    background: url(../images/bg.jpg) center 0 repeat;
}

.wrapper {
    background:white;
    margin:15px 0px;
    padding:15px;
}

.navbar {
    background: url(../images/menu_bg.jpg) center 0 repeat;
    background-color: #4f4f4f;
    padding:0px;
    min-height:62px;
}

.navbar-nav > .nav-item > a.nav-link {
    padding-top:1.2em;
    padding-bottom:1.2em;
    padding-left:1.3em;
    padding-right:1.3em;
    border-right:1px solid white;
    color:white;
}

.navbar-nav > .nav-item > a.nav-link.active, .navbar-nav > .nav-item > a.nav-link:hover {
    background:#e53935;
    color:white;
}

.navbar-toggler {
    margin-top:10px;
}
